@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/**** Variables ****/
:root {
  --white: #fff;
  --md: 768px;
  --lg: 992px;
  --xl: 1440px;
}

/*** Common Style ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
button {
  background: none;
  border: none;
  outline: none;
}
ul {
  list-style: none;
}
li{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
a{
    text-decoration: none;
}
img{
  width: 100%;
}

/**** Common Class ****/
.container {
  width: 100%;
  max-width: 91%;
  margin: auto;
}
.btn{
    width: 100%;
    padding: 16px 0px;
    background-color: white;
}
.btn a{
    font-size: 14px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
}

@media only screen and (min-width: var(--lg)) {
  .btn{
    padding: 16px 28px;
    width: initial;
  }
}

/*
=========
Header
=========
*/
header{
    position: relative;
    background-color: white;
    padding: 10px 0px;
}
header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header Right */
.header-right {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.header-right .about-contact{
  display: none;
}
.header-right .price {
  font-size: 14px;
  font-weight: 600;
}
.cart-details svg{ 
  width: 15px;
  height: 15px;
}
.cart-details{
  position: relative;
  margin-right: 10px;
}
.cart-details::after{
  content: '0';
  width: 15px;
  height: 15px;
  top: -7px;
  right: -11px;
  color: white;
  font-size: 8px;
  display: grid;
  place-items: center;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}
.header-right .profile{
  display: none;
}
.header-right .showber{
  background-color: black;
  color: white;
  padding: 7px 10px;
}

/* Header Left */
.header-left .menu-item{
  display: none;
}
.header-left .logo-wrap{
  max-width: 95px;
}
.header-left .logo-wrap .white-logo{
  display: none;
}


@media only screen and (min-width: 768px) {
  header{
    padding: 20px 0px;
  }
  /* Header left */
  .header-left .logo-wrap{
    max-width: 110px;
  }
}
@media only screen and (min-width: 992px) {
  header{
    background-color: #bde0fe;
    padding: 24px 0px;
    color: white;
  }
  /* Header left */
  .header-left .logo-wrap{
    max-width: 120px;
  }
  .header-left .logo-wrap .white-logo{
    display: block;
  }
  .header-left .logo-wrap .black-logo{
    display: none;
  }
  .header-left{
    display: flex;
    align-items: center;
  }
  .header-left .menu-item{
    display: flex;
    column-gap: 15px;
  }
  /* Header right */
  .header-right .about-contact{
    margin-right: 10px;
    display: flex;
    column-gap: 15px;
  }
  .header-right .showber{
    display: none;
  }
  .header-right .profile{
    display: block;
    fill: white;
  }
  .header-right .cart-details{
    fill: white;
  }
  .cart-details::after{
    background-color: white;
    color: black;
  }
}
@media only screen and (min-width: 1440px) {
  /* Header left */
  header .header-left .logo-wrap{
    max-width: 140px;
  }
}
/* 
=========
Main
=========
*/
main{
    background-image: url(./images/background/main-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}